* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Raleway";
    src: url("/ppvue/src/assets/fonts/Raleway-Regular.woff") format("woff"),
        url("/ppvue/src/assets/fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url("/ppvue/src/assets/fonts/Raleway-Bold.woff2") format("woff2"),
        url("/ppvue/src/assets/fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
    font-family: "Raleway";
    font-weight: 900;
    src: url("/ppvue/src/assets/fonts/Raleway-Black.woff2") format("woff2"),
        url("/ppvue/src/assets/fonts/Raleway-Black.woff") format("woff");
}

$blueColor: #0d5adc;
$blackColorText: #3b4157;
$whiteColor: #ffffff;
$grayColor1: #9eaec6;
$grayColor2: #cdcfd2;
$grayColor3: #a6a5a9;
$lightBlue: #f4f9fc;
$greenColor: #36935b;

@mixin displayFlexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

@mixin inputFocus {
    border: 1px solid $blueColor;
    outline: none;
}

@mixin h1Style {
    font-size: 48px;
    font-weight: 400;
}

@mixin inputStyle {
    height: 50px;
    border: 1px solid $grayColor3;
    background-color: $whiteColor;
}

@mixin btnTransparent {
    border: 2px solid $blueColor;
    color: $blueColor;
    text-transform: uppercase;
    background-color: $whiteColor;
    font-size: 12px;
    font-weight: 600;
}

@mixin btnBlue {
    background-color: $blueColor;
    color: $whiteColor;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;

    &:hover {
        background-color: #2f76ef;
      }
}

@mixin boldText {
    font-size: 18px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: $blackColorText;
}

li {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: $whiteColor;
    font-family: "Raleway", sans-serif;
}

main {
    color: $blackColorText;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #3b4157;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-blue-background {
    background-color: $lightBlue;
}
